/* Style 1 */

/* template.css */
a:hover, a:active, /*a:focus*/, #gkMainbody a, #gkMainbody header h2 a:active, #gkMainbody header h2 a:focus, #gkMainbody header h2 a:hover, #k2Container article header h2 a:active, #k2Container article header h2 a:focus, #k2Container article header h2 a:hover, #gkSidebar .box a:hover {
color:#0073bb;
}
#gkTopMenu a:active, #gkTopMenu a:focus, #gkTopMenu a:hover {
	color: #0073bb;
}
.box.dark a:active, .box.dark a:focus, .box.dark a:hover {
	color: #0073bb !important;
}
.gkPopupWrap h3 a {
	color: #0073bb;
}
/* joomla.css */
button, .button, input.button, span.button, button.button, div.button, input[type="submit"], input[type="button"], .pagenav-prev a, .pagenav-next a, .readon, #gkMainbody .itemReadMore, #gkMainbody .readmore > a, .button.invert:active, .button.invert:focus, .button.invert:hover, .gkShowCart a {
	/*border: 1px solid #0073bb;*/ /*color:#0073bb !important;*/
}
section.categories-list ul ul {
}
section.categories-list ul ul li {
	border-bottom: 1px solid #e5e5e5;
	border-left: 3px solid #0073bb;
}
article header.itemHasImage h1 a:active, article header.itemHasImage h1 a:focus, article header.itemHasImage h1 a:hover {
	color: #0073bb !important;
}
.tooltip-inner strong {
	background: #0073bb;
}
#system-message dd.notice {
	background: #0073bb;
}
div.bannerfooter {
	color: #0073bb;
}
dl#tabs dt.tabs span h3 a:hover, dl.tabs dt.tabs span h3 a:hover {
	color: #0073bb;
}
dl#tabs dt.tabs.open a, dl.tabs dt.tabs.open a {
	color: #0073bb;
}
.autocompleter-queried {
	color: #0073bb !important;
}
/* gk_stuff.css */
.nspPagination li:hover, .nspPagination li.active {
	background-color: #0073bb;
}
.nspNext:hover:after, .nspPrev:hover:after {
	color: #0073bb;
}
.nspArt h4.nspHeader a:hover {
	color: #0073bb !important;
}
.box.dark a.readon {
	background: #0073bb;
}
.box.products .nspArt .nspInfo a:active, .box.products .nspArt .nspInfo a:focus, .box.products .nspArt .nspInfo a:hover {
	color: #0073bb !important;
}
.gkIsWrapper-gk_shop_and_buy ol li:hover, .gkIsWrapper-gk_shop_and_buy ol li.active {
	background: #0073bb;
}
.gkBanner > strong > a {
	background: #0073bb;
}
.gk-newsletter input[type="button"]:active, .gk-newsletter input[type="button"]:focus, .gk-newsletter input[type="button"]:hover {
	background: #0073bb;
}
/* menu.css */
.gkMenu > ul > li.active > a {
	color: #0073bb;
}
.gkMenu a:hover, .gkMenu a:active, .gkMenu a:focus, .gkMenu li.active > a {
	color: #0073bb;
}
.gkMenu > ul li div.childcontent a:hover {
	color: #0073bb !important;
}
#gkMenuOverlayClose {
	color: #0073bb;
}
#gkMenuOverlayContent .gkcol li a:active, #gkMenuOverlayContent .gkcol li a:focus, #gkMenuOverlayContent .gkcol li a:hover {
	color: #0073bb;
}
/* k2.css */
.k2FeedIcon a:before, a.k2FeedIcon:before {
	color: #0073bb;
}
.activeCategory a {
	color: #0073bb;
}
.itemComments .icon-comments {
	background: #0073bb;
}
.k2CalendarBlock table.calendar tr td.calendarDateLinked a:hover {
	background: #0073bb;
}
.k2CalendarBlock table.calendar tr td.calendarToday {
	background: #0073bb;
}
table.calendar tr td.calendarTodayLinked a {
	color: #0073bb;
}
.k2CalendarBlock table.calendar tr td.calendarTodayLinked a:hover {
	background: #0073bb;
}
.calendarNavLink {
	color: #0073bb;
}
.k2TagCloudBlock a:hover {
	color: #0073bb;
}
/* vm.css */
.ask-a-question a:hover {
	color: #0073bb !important;
}
.catProductPrice {
	color: #0073bb;
}
.category-view .row .category .spacer h2 a:hover, .product-related-products > div a:hover, .product-related-categories > div a:hover, table.cart-summary a:hover {
	color: #0073bb;
}
#facebox .popup > div > div > a {
	background: #0073bb;
}
#ui-tabs h4 {
	color: #0073bb;
}
#ui-tabs ul#tabs li.current {
	color: #0073bb;
}
.general-bg, input.vm-default, a.product-details, a.details, div.details {
	color: #0073bb;
}
.vmGkCartProducts h3 a:hover {
	color: #0073bb;
}
.orderlistcontainer a:hover, .featured-view .spacer h3 a:hover, .latest-view .spacer h3 a:hover, .topten-view .spacer h3 a:hover, .related-products-view .spacer h3 a:hover, .browse-view .row .product .spacer h2 a:hover, h3.catProductTitle a:hover {
	color: #0073bb !important;
}
.productdetails-view .product-related-products a:hover, .productdetails-view .product-related-categories a:hover {
	color: #0073bb !important;
}
.terms-of-service h5 a, .terms-of-service h5 a:visited {
	color: #0073bb;
}
.vm-button-correct:hover, .catProductDetails:hover {
	background: #0073bb;
}
.vmCartModule dl dt a:hover {
	color: #0073bb;
}
.vmCartModule dd strong {
	color: #0073bb;
}
input.addtoCart:hover {
	background: #0073bb;
}
#com-form-login a:hover, .billto-shipto a:hover {
	color: #0073bb !important;
}
