figure {
	margin: 0 0 1.3rem 0;
	-webkit-transition: .125s linear;
	-moz-transition: .125s linear;
	-ms-transition: .125s linear;
	-o-transition: .125s linear;
	transition: .125s linear;
}
figure img {
	max-width: 100%;
	height: auto;
}
/*body {
    max-width: 480px;
    width: 90%;
    margin: 3em auto;
    font-size: 75%;
    line-height: 1.3rem;
    font-family: sans-serif;
    position: relative;
    *zoom: 1;
}*/
body:before, body:after {
	content: "";
	display: table;
}
body:after {
	clear: both
}
li#sub-navigation-home-news1{
margin-top: -40px;
}
p {
	/*margin-bottom: 0.6rem*/
	/*line-height:1.0em!important;*/
}
article {
	margin-bottom: 3rem;
	position: relative;
 *zoom: 1;
}
article:before, article:after {
	content: "";
	display: table;
}
article:after {
	clear: both
}
article figure {
	float: left;
	width: 32.5%;
}
article section:first-of-type {
	float: right;
	width: 62.5%;
}
article section:last-of-type {
	display: none;
	visibility: hidden;
}
section {
	-webkit-transition: .125s linear;
	-moz-transition: .125s linear;
	-ms-transition: .125s linear;
	-o-transition: .125s linear;
	transition: .125s linear;
}
input[type=checkbox] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
 span.read-more{
	 color:#FE9400;
}
span.read-less{
	color: #FE9400;
	}
span.read-more:hover{
	color:#FFFFFF;
	}
	span.read-less:hover{
	color:#FFFFFF;
	
	}
input[type=checkbox]:checked ~ section {
	display: block;
	visibility: visible;
	width: 100%;
}
input[type=checkbox]:checked ~ figure {
	width: 100%
}

/*first*/
 [for="read_more1"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more1"]:hover {
	background: #FE9400;
}
[for="read_more1"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more1"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more1"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*second*/
[for="read_more2"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more2"]:hover {
	background: #FE9400;
}
[for="read_more2"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more2"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more2"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*third*/
[for="read_more3"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more3"]:hover {
	background: #FE9400;
}
[for="read_more3"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more3"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more3"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*four*/
[for="read_more4"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more4"]:hover {
	background: #FE9400;
}
[for="read_more4"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more4"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more4"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*five*/
 [for="read_more5"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more5"]:hover {
	background: #FE9400;
}
[for="read_more5"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more5"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more5"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*six*/
[for="read_more6"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more6"]:hover {
	background: #FE9400;
}
[for="read_more6"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more6"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more6"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*seven*/
[for="read_more7"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more7"]:hover {
	background: #FE9400;
}
[for="read_more7"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more7"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more7"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*eight*/
[for="read_more8"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more8"]:hover {
	background: #FE9400;
}
[for="read_more8"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more8"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more8"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*nine*/
[for="read_more9"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more9"]:hover {
	background: #FE9400;
}
[for="read_more9"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more9"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more9"] span:last-of-type {
	display: block;
	visibility: visible;
}
/*ten*/
[for="read_more10"] {
 position: absolute;
 bottom: -3rem;
 left: 0;
 width: 100%;
 text-align: center;
 padding: .55rem;
 box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
 border-radius:7px;
}
[for="read_more10"]:hover {
	background: #FE9400;
}
[for="read_more10"] span:last-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more10"] span:first-of-type {
	display: none;
	visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more10"] span:last-of-type {
	display: block;
	visibility: visible;
}